<mv-header image="/assets/img/background/surface_spiral.jpg"
           title="Título"
           subtitle="Subtítulo"
           button="frase"
           [filter]="true"
           url="https://left">
  <mv-header-menu>
    <button mv-btn class="btn-menu icon" title="menu" (click)="menu.onToggle()" accesskey="2">
      <mv-icon name="bars"></mv-icon>
    </button>
  </mv-header-menu>
  <mv-header-logo>
    Minha Logo
  </mv-header-logo>
  <mv-header-tool>

  </mv-header-tool>
</mv-header>

<mv-aside #menu fixed left title="Menu">
  a
</mv-aside>
