<ul>
  <li>Seletor: <code>mv-footer</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<!--Exemplo-->
<mv-footer logo="/assets/img/mvinicius_logo.svg">
  <mv-row>
    <mv-col class="xs-12 sm-4">
      <nav>
        <ul>
          <li>texto</li>
        </ul>
      </nav>
    </mv-col>
    <mv-col class="xs-12 sm-4">
      <nav>
        <ul>
          <li>texto</li>
        </ul>
      </nav>
    </mv-col>
    <mv-col class="xs-12 sm-4">
      <nav>
        <ul>
          <li>texto</li>
        </ul>
      </nav>
    </mv-col>
  </mv-row>
  <mv-footer-about>
    <p>MVinicius Consultoria</p>
    <p>CNPJ 19.732.576/0001-71</p>
    <p>© Todos os direitos reservados . Termos e condições</p>
  </mv-footer-about>
</mv-footer>
<!--/Exemplo-->
