/**
 * Form Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

$mv-control--height: 2rem;
$mv-control--padding: 0;
$mv-control--gutter: ($mv-layout__gutter/4);
$mv-control--padding__focus: 0 ($mv-layout__gutter/2);
$mv-control--transition:  padding 300ms ease,
                          background-color 200ms ease,
                          color 300ms ease;
/**
 * @section Style
 */
mv-control {

  label {
    display: inline-block;
  }
  input,
  select,
  textarea {
    outline: none;
  }
  input[mv-control-checkbox-input] {
    width: $mv-size__height;
    display: inline-block;
    position: absolute;
    top: $mv-size__height + $mv-control--gutter;
    right: $mv-control--gutter;
  }
  input[type="password"]{
    font-family: caption;
  }

  mv-control-switch {
    order: 3;
  }
}

mv-control-true,
mv-control-false {
  display: flex;
  padding: $mv-control--padding;
}

mv-control-status {
  position: relative;
  display: flex;
  flex: 1;
  padding: $mv-control--padding;
  line-height: $mv-control--height;
  border-radius: $mv-border-radius-base;
  transition: $mv-control--transition;
  z-index: -1;

  [mv-control-checkbox-input]:focus + & {
    padding: $mv-control--padding__focus;
    background-color: $mv-color__gray--50;
  }
  [mv-control-checkbox-input]:checked + & {
    mv-control-true {
      display: flex;
    }
    mv-control-false {
      display: none;
    }
  }
  [mv-control-checkbox-input] + & {
    mv-control-true {
      display: none;
    }
    mv-control-false {
      display: flex;
    }
  }

}

mv-control-errors {
  display: block;
  margin-left: $mv-size__height;
  padding-left: $mv-size__height;
  color: $mv-color__gray--300;
}
mv-control-error {
  display: list-item;
  list-style-type: square;
}

.mv-control {

  &__toolbar,
  &__field,
  &__icon,
  &__label,
  &__container,
  &__action,
  &__setup {
    display: flex;
  }

  &__toolbar {
    padding: ($mv-layout__gutter/2) 0;
    flex: 1;
  }
  &__icon {
    width: $mv-size__height;
    justify-content: center;
    color: $mv-color__gray--300;
  }
  &__field {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 90;
  }
  &__label {
    height: 1.25rem;
    color: $mv-color__gray--300;
  }
  &__container {
    min-height: $mv-control--height;

    input,
    select {
      display: block;
      padding: $mv-control--padding;
      width: 100%;
      max-height: $mv-control--height;
      line-height: $mv-control--height;
      color: $mv-color__gray--500;
      background-color: transparent;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: $mv-color__gray--100;
      border-radius: $mv-border-radius-base;
      transition: $mv-control--transition;
    }

    select {
      border: 2px solid $mv-color__gray--100;
    }

    input:focus,
    select:focus {
      color: $mv-color__dark;
      padding: $mv-control--padding__focus;
      background-color: $mv-color__gray--50;
    }
  }

  &__action {
    flex-direction: column;
    width: $mv-size__height;

    [mv-button] {
      min-width: 100%;
      padding: 0;
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }

  &__message {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__setup {
    display: flex;
  }

  &__action[hidden],
  &__setup[hidden] {
    display: none;
  }

  &--valid{}
  &--error{}

}

mv-control-container,
mv-control-reactive {
  margin: 0 0 $mv-control--gutter 0;
  padding: 0;
  min-height: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
