/**
 * Layout
 *
 * based https://raw.githubusercontent.com/kristoferjoseph/flexboxgrid/master/src/css/flexboxgrid.css
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

$gutter-width: $mv-layout__gutter;
$outer-margin: $mv-layout__outer-margin;
$gutter-compensation: ($gutter-width * 0.5) * -1;
$half-gutter-width: ($gutter-width * 0.5);
$xs-min: $mv-device__xs;
$sm-min: $mv-device__sm;
$md-min: $mv-device__md;
$lg-min: $mv-device__lg;
$screen-xs-min: $xs-min;
$screen-sm-min: $sm-min;
$screen-md-min: $md-min;
$screen-lg-min: $lg-min;
$container-sm: $sm-min + $gutter-width;
$container-md: $md-min + $gutter-width;
$container-lg: $lg-min + $gutter-width;


/**
 * Default behavior
 *
 * <mv-grid>
 *  <mv-container>
 *    <mv-row>
 *      <mv-col>1</mv-col>
 *      <mv-col>2</mv-col>
 *      <mv-col>3</mv-col>
 *    </mv-row>
 *    <mv-row>
 *      <mv-col>1</mv-col>
 *      <mv-col>2</mv-col>
 *    </mv-row>
 *  </mv-container>
 * </mv-grid>
 *
 */
mv-grid,
mv-container{
  display: block;
}

mv-grid,
mv-container {
  margin-right: auto;
  margin-left: auto;
}

/**
 * Fix container on small width
 */
mv-grid {
  padding-right: $outer-margin;
  padding-left: $outer-margin;
}
mv-container {
  width: 100%;
}
mv-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

mv-row.mv-layout--reverse,
mv-row[reverse] {
  flex-direction: row-reverse;
}

mv-col.mv-layout--reverse,
mv-col[reverse] {
  flex-direction: column-reverse;
}

mv-col.mv-layout--shrink,
mv-col[shrink] {
  flex-grow: 0;
}

mv-col,
mv-col.xs,
mv-col.xs-1,
mv-col.xs-2,
mv-col.xs-3,
mv-col.xs-4,
mv-col.xs-5,
mv-col.xs-6,
mv-col.xs-7,
mv-col.xs-8,
mv-col.xs-9,
mv-col.xs-10,
mv-col.xs-11,
mv-col.xs-12,
mv-col.xs-offset-0,
mv-col.xs-offset-1,
mv-col.xs-offset-2,
mv-col.xs-offset-3,
mv-col.xs-offset-4,
mv-col.xs-offset-5,
mv-col.xs-offset-6,
mv-col.xs-offset-7,
mv-col.xs-offset-8,
mv-col.xs-offset-9,
mv-col.xs-offset-10,
mv-col.xs-offset-11,
mv-col.xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

mv-col,
mv-col.xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

mv-col.xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

mv-col.xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

mv-col.xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

mv-col.xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

mv-col.xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

mv-col.xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

mv-col.xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

mv-col.xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

mv-col.xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

mv-col.xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

mv-col.xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

mv-col.xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

mv-col.xs-offset-0 {
  margin-left: 0;
}

mv-col.xs-offset-1 {
  margin-left: 8.33333333%;
}

mv-col.xs-offset-2 {
  margin-left: 16.66666667%;
}

mv-col.xs-offset-3 {
  margin-left: 25%;
}

mv-col.xs-offset-4 {
  margin-left: 33.33333333%;
}

mv-col.xs-offset-5 {
  margin-left: 41.66666667%;
}

mv-col.xs-offset-6 {
  margin-left: 50%;
}

mv-col.xs-offset-7 {
  margin-left: 58.33333333%;
}

mv-col.xs-offset-8 {
  margin-left: 66.66666667%;
}

mv-col.xs-offset-9 {
  margin-left: 75%;
}

mv-col.xs-offset-10 {
  margin-left: 83.33333333%;
}

mv-col.xs-offset-11 {
  margin-left: 91.66666667%;
}

.xs-start,
.align-start {
  justify-content: flex-start;
  text-align: start;
}

.xs-center,
.align-center {
  justify-content: center;
  text-align: center;
}

.xs-end,
.align-end {
  justify-content: flex-end;
  text-align: end;
}

.xs-top,
.align-top {
  align-items: flex-start;
}

.xs-middle,
.align-middle {
  align-items: center;
}

.xs-bottom,
.align-bottom {
  align-items: flex-end;
}

.xs-around,
.align-around {
  justify-content: space-around;
}

.xs-between,
.align-between {
  justify-content: space-between;
}

.xs-first,
.align-first {
  order: -1;
}

.xs-last,
.align-last {
  order: 1;
}

@media screen and (min-width: $container-sm) {
  mv-container {
    width: $container-sm - 2rem; //46rem
  }

  mv-col.sm,
  mv-col.sm-1,
  mv-col.sm-2,
  mv-col.sm-3,
  mv-col.sm-4,
  mv-col.sm-5,
  mv-col.sm-6,
  mv-col.sm-7,
  mv-col.sm-8,
  mv-col.sm-9,
  mv-col.sm-10,
  mv-col.sm-11,
  mv-col.sm-12,
  mv-col.sm-offset-0,
  mv-col.sm-offset-1,
  mv-col.sm-offset-2,
  mv-col.sm-offset-3,
  mv-col.sm-offset-4,
  mv-col.sm-offset-5,
  mv-col.sm-offset-6,
  mv-col.sm-offset-7,
  mv-col.sm-offset-8,
  mv-col.sm-offset-9,
  mv-col.sm-offset-10,
  mv-col.sm-offset-11,
  mv-col.sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  mv-col.sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.sm-1 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.sm-1 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.sm-1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.sm-offset-0 {
    margin-left: 0;
  }

  mv-col.sm-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.sm-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.sm-offset-3 {
    margin-left: 25%;
  }

  mv-col.sm-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.sm-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.sm-offset-6 {
    margin-left: 50%;
  }

  mv-col.sm-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.sm-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.sm-offset-9 {
    margin-left: 75%;
  }

  mv-col.sm-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .sm-start {
    justify-content: flex-start;
    text-align: start;
  }

  .sm-center {
    justify-content: center;
    text-align: center;
  }

  .sm-end {
    justify-content: flex-end;
    text-align: end;
  }

  .sm-top {
    align-items: flex-start;
  }

  .sm-middle {
    align-items: center;
  }

  .sm-bottom {
    align-items: flex-end;
  }

  .sm-around {
    justify-content: space-around;
  }

  .sm-between {
    justify-content: space-between;
  }

  .sm-first {
    order: -1;
  }

  .sm-last {
    order: 1;
  }
}

@media screen and (min-width: $container-md) {
  mv-container {
    width: $container-md - 3rem; //61rem
  }

  mv-col.md,
  mv-col.md-1,
  mv-col.md-2,
  mv-col.md-3,
  mv-col.md-4,
  mv-col.md-5,
  mv-col.md-6,
  mv-col.md-7,
  mv-col.md-8,
  mv-col.md-9,
  mv-col.md-10,
  mv-col.md-11,
  mv-col.md-12,
  mv-col.md-offset-0,
  mv-col.md-offset-1,
  mv-col.md-offset-2,
  mv-col.md-offset-3,
  mv-col.md-offset-4,
  mv-col.md-offset-5,
  mv-col.md-offset-6,
  mv-col.md-offset-7,
  mv-col.md-offset-8,
  mv-col.md-offset-9,
  mv-col.md-offset-10,
  mv-col.md-offset-11,
  mv-col.md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    /*padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;*/
  }

  mv-col.md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.md-offset-0 {
    margin-left: 0;
  }

  mv-col.md-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.md-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.md-offset-3 {
    margin-left: 25%;
  }

  mv-col.md-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.md-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.md-offset-6 {
    margin-left: 50%;
  }

  mv-col.md-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.md-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.md-offset-9 {
    margin-left: 75%;
  }

  mv-col.md-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.md-offset-11 {
    margin-left: 91.66666667%;
  }

  .md-start {
    justify-content: flex-start;
    text-align: start;
  }

  .md-center {
    justify-content: center;
    text-align: center;
  }

  .md-end {
    justify-content: flex-end;
    text-align: end;
  }

  .md-top {
    align-items: flex-start;
  }

  .md-middle {
    align-items: center;
  }

  .md-bottom {
    align-items: flex-end;
  }

  .md-around {
    justify-content: space-around;
  }

  .md-between {
    justify-content: space-between;
  }

  .md-first {
    order: -1;
  }

  .md-last {
    order: 1;
  }
}

@media screen and (min-width: $container-lg) {
  mv-container {
    width: $container-lg - 4rem; //71rem
  }

  mv-col.lg,
  mv-col.lg-1,
  mv-col.lg-2,
  mv-col.lg-3,
  mv-col.lg-4,
  mv-col.lg-5,
  mv-col.lg-6,
  mv-col.lg-7,
  mv-col.lg-8,
  mv-col.lg-9,
  mv-col.lg-10,
  mv-col.lg-11,
  mv-col.lg-12,
  mv-col.lg-offset-0,
  mv-col.lg-offset-1,
  mv-col.lg-offset-2,
  mv-col.lg-offset-3,
  mv-col.lg-offset-4,
  mv-col.lg-offset-5,
  mv-col.lg-offset-6,
  mv-col.lg-offset-7,
  mv-col.lg-offset-8,
  mv-col.lg-offset-9,
  mv-col.lg-offset-10,
  mv-col.lg-offset-11,
  mv-col.lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  mv-col.lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  mv-col.lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  mv-col.lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  mv-col.lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  mv-col.lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  mv-col.lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  mv-col.lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  mv-col.lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  mv-col.lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  mv-col.lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  mv-col.lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  mv-col.lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  mv-col.lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  mv-col.lg-offset-0 {
    margin-left: 0;
  }

  mv-col.lg-offset-1 {
    margin-left: 8.33333333%;
  }

  mv-col.lg-offset-2 {
    margin-left: 16.66666667%;
  }

  mv-col.lg-offset-3 {
    margin-left: 25%;
  }

  mv-col.lg-offset-4 {
    margin-left: 33.33333333%;
  }

  mv-col.lg-offset-5 {
    margin-left: 41.66666667%;
  }

  mv-col.lg-offset-6 {
    margin-left: 50%;
  }

  mv-col.lg-offset-7 {
    margin-left: 58.33333333%;
  }

  mv-col.lg-offset-8 {
    margin-left: 66.66666667%;
  }

  mv-col.lg-offset-9 {
    margin-left: 75%;
  }

  mv-col.lg-offset-10 {
    margin-left: 83.33333333%;
  }

  mv-col.lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .lg-start {
    justify-content: flex-start;
    text-align: start;
  }

  .lg-center {
    justify-content: center;
    text-align: center;
  }

  .lg-end {
    justify-content: flex-end;
    text-align: end;
  }

  .lg-top {
    align-items: flex-start;
  }

  .lg-middle {
    align-items: center;
  }

  .lg-bottom {
    align-items: flex-end;
  }

  .lg-around {
    justify-content: space-around;
  }

  .lg-between {
    justify-content: space-between;
  }

  .lg-first {
    order: -1;
  }

  .lg-last {
    order: 1;
  }
}

.centralize {
  justify-content: center;
  align-self: center;
}
