<mv-list-item>
  <mv-list-item-primary>
    <mv-avatar medium src="/assets/img/user_m_shield.png"></mv-avatar>
  </mv-list-item-primary>
  <mv-list-item-action class="align-middle" *ngIf="modeEdit && !modeDelete">
    <a mv-button class="mv-button--icon" title="Detalhes" (click)="onUpdate()">
      <mv-icon name="pencil"></mv-icon>
    </a>
  </mv-list-item-action>
  <mv-list-item-secondary class="align-middle" *ngIf="modeDelete">
    <button mv-button class="mv-button--icon" title="Remover" (click)="onConfirmDelete()">
      <mv-icon name="trash"></mv-icon>
    </button>
  </mv-list-item-secondary>
  <h3>{{entity.credential}}</h3>
</mv-list-item>
