/**
 * Toolbar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

/**
 * @section Style
 */
mv-toolbar {
  padding: ($mv-layout__gutter/2) 0;
  width: 100%;
  min-height: $mv-size__height + $mv-layout__gutter;
  // line-height: $mv-size__height;
  display: flex;
  // flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: $mv-color__gray--50;

  @media screen and (max-width: $mv-device__md) {
    // padding-left: $mv-layout__gutter;
    // padding-right: $mv-layout__gutter;
    // margin-left: $mv-layout__gutter-compensation;
    // margin-right: $mv-layout__gutter-compensation;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: inherit;
  }
  h1,
  h2{
    font-size: $font-size-h3;
  }

  mv-row {
    // display: flex;
    // box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-height: $mv-size__height;
    // flex-direction: row;
    // align-items: center;
    white-space: nowrap;
  }

}

mv-grid mv-toolbar,
mv-container mv-toolbar {
  // padding-left: $mv-layout__outer-margin;
  // padding-right: $mv-layout__outer-margin;
}

.mv-toolbar {
  &__container {
    display: flex;
    flex: 1;
    // align-items: center;
    // min-height: $mv-size__height;
  }
}

mv-toolbar.mv-toolbar--small,
mv-toolbar[small] {
  .mv-toolbar__container {
    height: $mv-size__height--small;
  }
}

mv-toolbar.mv-toolbar--medium,
mv-toolbar[medium] {
  .mv-toolbar__container {
    height: $mv-size__height--medium;
  }
}

mv-toolbar.mv-toolbar--tall,
mv-toolbar[tall] {
  .mv-toolbar__container {
    height: $mv-size__height--tall;
  }
}
