/**
 * Sidebar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Sidebar
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

$mv-sidebar--padding: ($mv-layout__gutter/2);

/**
 * @section Style
 */

mv-sidebar {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;

  mv-toolbar mv-grid {
    padding: 0 0.25rem;
  }

  mv-toolbar mv-col {
    padding: 0;
  }

  mv-toolbar.mv-toolbar__container{
    width: 100%;
  }
  mv-toolbar .mv-sidebar__title{
    margin: 0;
    color: inherit;
  }
}

.mv-sidebar__content {
  padding: $mv-sidebar--padding $mv-sidebar--padding 0 $mv-sidebar--padding;
}
