<mv-list *ngIf="(!success || error) && editMode">
  <mv-list-item [hidden]="success">
    <h3>Preenchendo formulário...</h3>
  </mv-list-item>
  <mv-list-item [hidden]="error">
    <h3>Erro de conexão!</h3>
    <mv-list-item-action>
      <button mv-button title="Detalhes" (click)="loadEntity()">
        <mv-icon name="reload"></mv-icon>
        <span>Tentar novamente</span>
      </button>
    </mv-list-item-action>
  </mv-list-item>
</mv-list>

<!--Form-->
<form [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="(editMode && success) || !editMode">

  <!--credential-->
  <mv-control-container>
    <label>Credencial</label>
    <input type="text" [formControl]="form.controls['credential']">
  </mv-control-container>
  <!--/credential-->

  <!--password-->
  <mv-control-container>
    <label>Senha</label>
    <input type="password" [formControl]="form.controls['password']">
  </mv-control-container>
  <!--/password-->

  <!--status-->
  <mv-control-container>
    <label>Status</label>
    <input type="text" [formControl]="form.controls['status']">
  </mv-control-container>
  <!--/status-->

  <!--active-->
  <mv-control-container>
    <label>Ativo</label>
    <input type="checkbox" [formControl]="form.controls['active']">
  </mv-control-container>
  <!--/active-->

  <button mv-button title="Salvar" (click)="onSubmit($event)" [disabled]="form.invalid">
    <mv-icon name="check"></mv-icon>
    <span>Salvar</span>
  </button>
</form>
