<ul>
  <li>Seletor: <code>mv-modal</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<h2>Modal</h2>

<button mv-btn (click)="modal.open()">Modal</button>
<mv-modal #modal title="Título">
  <mv-modal-body>
    Conteúdo
  </mv-modal-body>
</mv-modal>

<button mv-btn (click)="modalSmall.open()">Small</button>
<mv-modal #modalSmall small title="Título">
  <mv-modal-body>
    Conteúdo
  </mv-modal-body>
</mv-modal>

<button mv-btn (click)="modalFlat.open()">Flat</button>
<mv-modal #modalFlat small flat title="Título">
  <mv-modal-body>
    <img src="/assets/img/background/surface_spiral.jpg" alt="">
    <h2>Ideal para imagens</h2>
  </mv-modal-body>
</mv-modal>

<button mv-btn (click)="modalBackdrop.open()">Disable backdrop</button>
<mv-modal #modalBackdrop [disableBackdrop]="true" small flat title="Título">
  <mv-modal-body>
    <img src="/assets/img/background/surface_spiral.jpg" alt="">
  </mv-modal-body>
</mv-modal>

<button mv-btn (click)="modalClose.open()">status: {{status}}</button>
<mv-modal #modalClose flat title="Título" (onClose)="alertClose()">
  <mv-modal-body>
    <img src="/assets/img/background/surface_spiral.jpg" alt="">
    <p>Feche para alterar o status</p>
  </mv-modal-body>
</mv-modal>
