.color-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.color-item {
  line-height: 2em;
  display: flex;
  flex: 1;
}
.color-tint {
  display: flex;
  height: inherit;
  line-height: 2em;
  flex: 1;
}
.color-value {
  display: flex;
  height: inherit;
  line-height: 2em;
  justify-content: center;
  min-width: 15%;
}
.color-name {
  display: flex;
  min-width: 15%;
  justify-content: center;
}
