<ul>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<h2>Cores</h2>

<ul class="color-list"
  *ngFor="let pallete of palletes">
  <li><h3>{{pallete.name}}</h3></li>
  <li class="color-item"
    *ngFor="let color of pallete.colors">
    <span class="color-name">
      {{pallete.name}}
      <span *ngIf="color.variant">--{{color?.variant}}</span>
    </span>
    <span class="color-value">{{color.value}}</span>
    <span class="color-tint"
      [style.background-color]="color.value"></span>
  </li>
</ul>
