<ul>
  <li>Seletor: <code>mv-toolbar</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<h2>Toolbar</h2>
<mv-toolbar>
  <mv-row>
    <mv-col shrink>
      <button mv-btn class="mv-btn--icon"><mv-icon name="bars"></mv-icon></button>
    </mv-col>
    <mv-col shrink>
      <h1>Site</h1>
    </mv-col>
    <mv-col class="align-end">
      <button mv-btn>Dados</button>
    </mv-col>
  </mv-row>
</mv-toolbar>

<h2>Small</h2>
<mv-toolbar small>
  <mv-row>
    <mv-col>
      <h1>Site</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>

<h2>Medium</h2>
<mv-toolbar medium>
  <mv-row>
    <mv-col>
      <h1>Site</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>

<h2>Tall</h2>
<mv-toolbar tall>
  <mv-row>
    <mv-col>
      <h1>Site</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>

<h2>Theme</h2>
<mv-toolbar class="mv-theme--default">
  <mv-row>
    <mv-col>
      <h1>Default</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--primary">
  <mv-row>
    <mv-col>
      <h1>Primary</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--secondary">
  <mv-row>
    <mv-col>
      <h1>Secondary</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--danger">
  <mv-row>
    <mv-col>
      <h1>Danger</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--warning">
  <mv-row>
    <mv-col>
      <h1>Warning</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--success">
  <mv-row>
    <mv-col>
      <h1>Success</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--light">
  <mv-row>
    <mv-col>
      <h1>Light</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--dark">
  <mv-row>
    <mv-col>
      <h1>Dark</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--accent">
  <mv-row>
    <mv-col>
      <h1>Accent</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>

<h2>Theme Light</h2>
<mv-toolbar class="mv-theme--primary-light">
  <mv-row>
    <mv-col>
      <h1>Primary</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--secondary-light">
  <mv-row>
    <mv-col>
      <h1>Secondary</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--danger-light">
  <mv-row>
    <mv-col>
      <h1>Danger</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--warning-light">
  <mv-row>
    <mv-col>
      <h1>Warning</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--success-light">
  <mv-row>
    <mv-col>
      <h1>Success</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar class="mv-theme--accent-light">
  <mv-row>
    <mv-col>
      <h1>Accent</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
