<ul>
  <li>Seletor: <code>mv-badge[text:number]</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>
<h2>Badge</h2>
<div class="code">
  <mv-badge value="12">E-mail</mv-badge>
</div>

<h2>Ícones</h2>
<div class="code">
  <mv-badge value="120k"><mv-icon name="bell"></mv-icon></mv-badge>
  <mv-badge value="2"><mv-icon name="bell"></mv-icon></mv-badge>
  <mv-badge value="10"><mv-icon name="bell"></mv-icon></mv-badge>
  <mv-badge value="120"><mv-icon name="bell"></mv-icon></mv-badge>
</div>

<h2>Botão</h2>
<div class="code">
  <button mv-btn>
    <mv-badge value="12">
      <mv-icon name="bell"></mv-icon>
      <span>Alertas</span>
    </mv-badge>
  </button>

  <button mv-btn icon>
    <mv-badge value="12">
      <mv-icon name="bell"></mv-icon>
    </mv-badge>
  </button>
</div>
