/**
 * Form Control Switch
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../variables";

$mv-control-switch--width: 3rem;
$mv-control-switch--height: 2rem;
$mv-control-switch-status--padding: 0.2rem;
$mv-control-switch-status--width: $mv-control-switch--height - ($mv-control-switch-status--padding*2);
$mv-control-switch-status--height: $mv-control-switch--height - ($mv-control-switch-status--padding*2);

/**
 * @section Style
 */
mv-control-switch {
  display: inline-flex;
}

.mv-control-switch {

  &__container {
    position: relative;
    display: block;
    width: $mv-control-switch--width;
    height: $mv-control-switch--height;
    background-color: $mv-color__gray--50;
    border-radius: $mv-border-radius-base;
  }

  &__status {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: $mv-control-switch-status--width;
    height: $mv-control-switch-status--height;
    margin: $mv-control-switch-status--padding;
    transition: left 500ms ease,
                right 500ms ease,
                background-color 300ms ease;
    border-radius: $mv-border-radius-base;
  }

  &--true {
    background-color: $mv-color__accent;
    left: 1rem;
    right: 0;
  }

  &--false {
    background-color: $mv-color__gray--100;
    left: 0;
    right: 1rem;
  }
}
