@import "../ui/variables";

.orion-login {
  min-height: 100vh;

  background-color: $mv-color__gray--100;
  background-image: url('/assets/img/background/surface.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

