<div class="mv-card mv-shadow--default">
  <div class="mv-card__title" [ngStyle]="styleTitle()">
    <h2 class="mv-card__title-text" *ngIf="hasTitle()">{{title}}</h2>
    <h3 class="mv-card__title-subtitle" *ngIf="hasSubtitle()">{{subtitle}}</h3>
  </div>
  <ng-content select="img"></ng-content>
  <ng-content select="mv-card-text"></ng-content>
  <ng-content select="mv-card-action"></ng-content>
  <ng-content select="mv-card-menu"></ng-content>
</div>
