<mv-data-list
  [entity]="entity"
  [collection]="collection"
  [formSearch]="formSearch"
  [modeDelete]="modeDelete"
  [modeEdit]="modeEdit"
  [modeForm]="modeForm"
  [modeSearch]="modeSearch"
  (onModeEdit)="onModeEdit($event)"
  (onModeForm)="onModeForm($event)"
  (onModeDelete)="onModeDelete($event)"
  (onModeSearch)="onModeSearch($event)"
  (onCrudDelete)="onDelete($event)"
  (onCrudSearch)="onSearch($event)">
  <!--(onCrudCreate)="onCreate($event)" (onCrudUpdate)="onUpdate($event)"-->
  <!--Ações-->
  <mv-data-list-action></mv-data-list-action>

  <!--Buscar-->
  <mv-data-list-search>
    <mv-data-list-form-search (onInit)="onFormSearchInit($event)"></mv-data-list-form-search>
  </mv-data-list-search>

  <!--Remover-->
  <mv-data-list-delete>
    <mv-orion-user-list-item *ngIf="entity"
      [entity]="entity"
      [modeEdit]="false"
      [modeDelete]="false"></mv-orion-user-list-item>
  </mv-data-list-delete>

  <!--Formulário de Edição/Adição-->
  <mv-data-list-form title="Formulário">
    <mv-orion-user-form (onSave)="onSave($event)"></mv-orion-user-form>
  </mv-data-list-form>

  <!--Lista-->
  <mv-data-pagination>
    <mv-pagination-control></mv-pagination-control>
  </mv-data-pagination>
  <mv-data-list-collection>
    <mv-orion-user-list-item
      *ngFor="let entity of collection | async"
      [entity]="entity"
      [modeDelete]="modeDelete"
      (onOpenModal)="onOpenModalDelete(entity)"></mv-orion-user-list-item>
  </mv-data-list-collection>

</mv-data-list>
