/**
 * Footer
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../variables";

/**
 * @section Style
 */

:host {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.mv-data-list__alert-collection-empty {
  padding: 1rem 0;
}

@media screen and (max-width: $mv-device__xs) {
  .mv-data-list__pagination {
    order: 3;
  }
}
@media screen and (min-width: $mv-device__md) {
  .mv-data-list__total,
  .mv-data-list__action {
    // flex-grow: 0;
  }
}
.mv-data-list__collection{
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}
