<button mv-btn (click)="asideE.onToggle()">Esquerda</button>
<button mv-btn (click)="asideD.onToggle()">Direita</button>
<mv-aside #asideE title="Titulo" fixed left>
  conteúdo
</mv-aside>
<mv-aside #asideD title="Titulo" fixed right>
  conteúdo
</mv-aside>
<div class="test">
  <mv-aside title="Titulo">
  conteúdo
</mv-aside>
</div>


