<div class="mv-control">
  <!--toolbar-->
  <div class="mv-control__toolbar">
    <!--icon-->
    <div class="mv-control__icon" [hidden]="!hasIcon">
      <mv-icon>{{icon}}</mv-icon>
    </div>
    <!--container-->
    <div class="mv-control__field">
      <div class="mv-control__label">
        <ng-content select="label"></ng-content>
      </div>
      <div #controlContainer class="mv-control__container">
        <ng-content></ng-content>
      </div>
    </div>
    <!--action-->
    <div #controlAction class="mv-control__action" [hidden]="isControlActionHidden()">
      <ng-content select="mv-control-action"></ng-content>
    </div>
  </div>
  <!--/toolbar-->
  <!--setup-->
  <div #controlSetup class="mv-control__setup" [hidden]="isControlSetupHidden()">
    <ng-content select="mv-control-setup"></ng-content>
  </div>
  <!--/setup-->
</div>
