<mv-grid>

<mv-row>
  <mv-col>
    <h1>Módulos</h1>
  </mv-col>
</mv-row>

<!--<mv-row>-->
<!--<mv-card mv-col class="xs-12 md-6 lg-6" img="/assets/img/features/feature_sgd.png">
    <mv-card-text>
      <h3>Módulo SGD</h3>
      <p>Sistema de Gerenciamento de Demanda</p>
    </mv-card-text>
    <mv-card-action class="align-end">
      <a mv-button [routerLink]="['sgd-module']">Abrir</a>
      <button mv-button>
        <mv-icon name="pie-chart"></mv-icon>
        <span>Relatório</span>
      </button>
      <button mv-button>
        <mv-icon name="dollar"></mv-icon>
        <span>Cobrança</span>
      </button>
    </mv-card-action>
  </mv-card>
</mv-row>-->

<mv-row>
  <mv-col>
    <h1>Configurações</h1>
  </mv-col>
</mv-row>

<mv-row>
  <mv-card mv-col class="xs-12 md-3" img="/assets/img/features/feature_user.png">
    <mv-card-text>
      <h3>Usuários</h3>
      <p>Controle de usuários do sistema</p>
    </mv-card-text>
    <mv-card-action class="align-end">
      <a mv-button [routerLink]="['user-module']">Abrir</a>
    </mv-card-action>
  </mv-card>
</mv-row>

</mv-grid>
