<h2>Grade automática</h2>
<mv-grid>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
    <mv-col>
      <div class="box">col</div>
    </mv-col>
  </mv-row>
</mv-grid>
<h2>Grade 12</h2>
<mv-grid>
  <mv-row>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-3">
      <div class="box">3</div>
    </mv-col>
    <mv-col class="xs-3">
      <div class="box">3</div>
    </mv-col>
    <mv-col class="xs-3">
      <div class="box">3</div>
    </mv-col>
    <mv-col class="xs-3">
      <div class="box">3</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-4">
      <div class="box">4</div>
    </mv-col>
    <mv-col class="xs-4">
      <div class="box">4</div>
    </mv-col>
    <mv-col class="xs-4">
      <div class="box">4</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-5">
      <div class="box">5</div>
    </mv-col>
    <mv-col class="xs-5">
      <div class="box">5</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-6">
      <div class="box">6</div>
    </mv-col>
    <mv-col class="xs-6">
      <div class="box">6</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-7">
      <div class="box">7</div>
    </mv-col>
    <mv-col class="xs-3">
      <div class="box">3</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-8">
      <div class="box">8</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-9">
      <div class="box">9</div>
    </mv-col>
    <mv-col class="xs-3">
      <div class="box">3</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-10">
      <div class="box">10</div>
    </mv-col>
    <mv-col class="xs-2">
      <div class="box">2</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-11">
      <div class="box">11</div>
    </mv-col>
    <mv-col class="xs-1">
      <div class="box">1</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col class="xs-12">
      <div class="box">12</div>
    </mv-col>
  </mv-row>
</mv-grid>
