/**
 *  Device
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Device
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

/**
 * @section Style
 */

.device_detector::after {
  display: block;
}

@media screen and (max-width: $mv-device__xs) {
  .device_detector::after {
    content: "Device XS"
  }
}
@media screen
  and (min-width: $mv-device__sm--min)
  and (max-width: $mv-device__sm) {
  .device_detector::after {
    content: "Device SM"
  }
}
@media screen
  and (min-width: $mv-device__md--min)
  and (max-width: $mv-device__md) {
  .device_detector::after {
    content: "Device MD"
  }
}
@media screen and (min-width: $mv-device__lg--min) {
  .device_detector::after {
    content: "Device LG"
  }
}
