<ul>
  <li>Seletor: <code>mv-list</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<h2>List</h2>
<mv-list>
  <mv-list-item *ngFor="let person of [0,1,2,3,4,5]">
    <h2>Marcus Vinícius</h2>
    <p>marcusvy@gmail.com</p>
    <mv-list-item-primary>
      <mv-avatar src="/assets/img/avatar/marcusvinicius.jpg"></mv-avatar>
    </mv-list-item-primary>
    <mv-list-item-action>
      <button mv-btn icon>
        <mv-icon name="music"></mv-icon>
      </button>
    </mv-list-item-action>
    <mv-list-item-secondary>
      <button mv-btn icon>
        <mv-icon name="heart"></mv-icon>
      </button>
    </mv-list-item-secondary>
  </mv-list-item>
</mv-list>
