/**
 * Cores
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Color
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "variables";

/**
 * @section Visible
 */

@media screen and (min-width: $mv-device__xs) {
  [visible-xs],
  .visible-xs{
    visibility: visible;
  }
}

@media screen and (min-width: $mv-device__sm) {
  [visible-sm],
  .visible-sm{
    visibility: visible;
  }
}

@media screen and (min-width: $mv-device__md) {
  [visible-md],
  .visible-md{
    visibility: visible;
  }
}

@media screen and (min-width: $mv-device__lg) {
  [visible-lg],
  .visible-lg{
    visibility: visible;
  }
}

/**
 * @section Hidden
 */
@media screen
  and (max-width: $mv-device__xs) {
  [hidden-xs],
  .hidden-xs{
    visibility: hidden;
    display: none;
  }
}
@media screen
  and (min-width: $mv-device__sm--min)
  and (max-width: $mv-device__sm) {
  [hidden-sm],
  .hidden-sm{
    visibility: hidden;
    display: none;
  }
}

@media screen
  and (min-width: $mv-device__md--min)
  and (max-width: $mv-device__md) {
  [hidden-md],
  .hidden-md{
    visibility: hidden;
    display: none;
  }
}

@media screen
  and (min-width: $mv-device__lg) {
  [hidden-lg],
  .hidden-lg{
    visibility: hidden;
    display: none;
  }
}
