<form [formGroup]="form">

  <!--Search for-->
  <div class="ui-control">
    <label>
      <span class="ui-control__label">Pesquisar por</span>
      <input #inputSearch type="text" [formControl]="form.controls['for']">
    </label>
    <ul class="ui-control__message">
      <li class="ui-control__error">Obrigatório</li>
    </ul>
  </div>
  <!--/Search for-->

  <!--Search in-->
  <div class="ui-control">
        <span class="ui-control__label">
          Pesquisar em:
        </span>
    <label class="ui-control__radio">
      <input type="radio" [formControl]="form.controls['in']" value="description"> Descrição
    </label>
    <ul class="ui-control__message">
      <li class="ui-control__error">Obrigatório</li>
    </ul>
  </div>
  <!--/Search in-->
</form>
