/**
 * Avatar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

/**
 * @section Style
 */

:host {
  display: inline-flex;
  height: $mv-size__height;
  width: $mv-size__height;
  border-radius: ($mv-size__height/2);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: $mv-color--primary;
    // border-color: $mv-color--accent;
  }
}

/**
 * Modificadores
 */
:host(.mv-avatar--small),
:host([small]) {
  height: $mv-size__height--small;
  width: $mv-size__height--small;
  border-radius: ($mv-size__height--small/2);
}
:host(.mv-avatar--medium),
:host([medium]) {
  height: $mv-size__height--medium;
  width: $mv-size__height--medium;
  border-radius: ($mv-size__height--medium/2);
}
:host(.mv-avatar--tall),
:host([tall]) {
  height: $mv-size__height--tall;
  width: $mv-size__height--tall;
  border-radius: ($mv-size__height--tall/2);
}

/**
 * Elements
 */
.mv-avatar__img {
  width: 100%;
}
