<mv-control-reactive [formControl]="formControl" [icon]="icon">
  <label (click)="onLabelClick($event)">{{label}}</label>
  <mv-control-editor-area #controlEditorArea></mv-control-editor-area>
  <mv-control-message>
    <ng-content select="mv-control-errors"></ng-content>
  </mv-control-message>
</mv-control-reactive>
