.icon-collection {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.icon-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 1em ;
  text-align: center;

  mv-icon {
    font-size: 2em;
  }
  span {
    display: block;
  }
}

.icon-collection--grid .icon-item {
  width: 80px;
  height: 100px;
  flex-direction: column;
}
.icon-collection--list {
  flex-direction: column;
  column-count: 2;

  .icon-item {
    width: 100%;
    height: 3em;
    flex-direction: row;
    align-items: center;

    mv-icon {
      padding-right: 1em;
    }
  }
}
