<ul>
  <li>Seletor: <code>mv-icon[name:string]</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>
<h2>Ícones</h2>
<p>
  Apresentar como:
  <button mv-btn (click)="setViewAs('grid')">
    <mv-icon name="th"></mv-icon>
    <span>Grade</span>
  </button>
  <button mv-btn (click)="setViewAs('list')">
    <mv-icon name="th-list"></mv-icon>
    <span>Lista</span>
  </button>
</p>
<ul class="icon-collection" [ngClass]="getClassViewAs()">
  <!--<ul class="icon-collection icon-collection--list">-->
  <li class="icon-item" *ngFor="let icon of icons">
    <mv-icon [name]="icon"></mv-icon>
    <span>{{icon}}</span>
  </li>
</ul>
