<mv-control-reactive [formControl]="formControl">
  <label [attr.for]="id">{{label}}</label>
  <select [attr.id]="id"
         [attr.autofocus]="autofocus"
         [attr.disabled]="disabled"
         [attr.form]="form"
         [attr.multiple]="multiple"
         [attr.name]="name"
         [attr.required]="required"
         [attr.size]="size"
         (change)="onSelect($event)"
         (blur)="onBlur($event)">
    <ng-content></ng-content>
  </select>
  <mv-control-message>
    <ng-content select="mv-control-errors"></ng-content>
  </mv-control-message>
</mv-control-reactive>
