/**
 * Form Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../variables";

:host {
  display: flex;
}
:host(.ng-dirty.ng-invalid){
  label {
    color: $mv-color__danger--300;
  }
  input, input:focus{
    padding: 0 ($mv-layout__gutter/2);
    color: $mv-color__danger--500;
    background-color: $mv-color__danger--50;
  }
}


