<mv-shell #shellApp>
  <mv-toolbar>
    <mv-row>
      <mv-col class="hidden-md hidden-lg">
        <button mv-btn class="mv-btn--icon-xs mv-btn--icon-sm" (click)="shellApp.onToggleMenu()">
          <mv-icon name="bars"></mv-icon>
          <span>Menu</span>
        </button>
      </mv-col>
      <mv-col>
        <h1>mv-ui</h1>
      </mv-col>
      <mv-col class="mv-layout--shrink">
        <mv-avatar src="/assets/img/avatar/marcusvinicius.jpg" (click)="perfil.onToggle()"></mv-avatar>
      </mv-col>
    </mv-row>
  </mv-toolbar>

  <router-outlet></router-outlet>

  <mv-shell-menu>
    <mv-menu-item routerLink='aside'>
      Aside
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='avatar'>
      Avatar
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='badge'>
      Badge
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='button'>
      Button
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='card'>
      Card
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='colors'>
      Colors
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='data'>
      Data
      <mv-menu-item-secondary>
        <!--<mv-badge value="ok"></mv-badge>-->
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='device'>
      Device
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='footer'>
      Footer
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='form'>
      Form
      <mv-menu-item-secondary>
        <!--<mv-badge value="ok"></mv-badge>-->
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='header'>
      Header
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='icon'>
      Icon
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='layout'>
      Layout
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='list'>
      List
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='menu'>
      Menu
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='modal'>
      Modal
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='pagination'>
      Pagination
      <mv-menu-item-secondary>
        <!--<mv-badge value="ok"></mv-badge>-->
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='shell'>
      Shell
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='sidebar'>
      Sidebar
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
    <mv-menu-item routerLink='toolbar'>
      Toolbar
      <mv-menu-item-secondary>
        <mv-badge value="ok"></mv-badge>
      </mv-menu-item-secondary>
    </mv-menu-item>
  </mv-shell-menu>
</mv-shell>

<mv-aside #perfil fixed right title="Perfil">
  <mv-avatar class="mv-avatar--tall" src="/assets/img/avatar/marcusvinicius.jpg"></mv-avatar>
</mv-aside>
