<ul>
  <li>Seletor: <code>mv-card</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<mv-grid>
  <mv-row>
    <mv-col class="md-6">
      <mv-card title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
        <mv-card-action class="align-end">
          <button mv-btn>enviar</button>
        </mv-card-action>
        <mv-card-menu>
          <button mv-btn class="icon">
                <mv-icon name="share"></mv-icon>
              </button>
        </mv-card-menu>
      </mv-card>
    </mv-col>

    <mv-col class="md-6">
      <mv-card title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-3">
      <mv-card title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-3">
      <mv-card title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-3">
      <mv-card title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-3">
      <mv-card title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-12">
      <mv-card img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
        <mv-card-text>
          <h3>Título</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
        <mv-card-menu>
          <button mv-btn class="icon">
          <mv-icon name="share"></mv-icon>
        </button>
        </mv-card-menu>
      </mv-card>
    </mv-col>

    <mv-col class="md-4">
      <mv-card>
        <img src="http://www.laughspark.info/thumbfiles/705X705/cute-cat-reading-news-paper-635731347131608766-13772.jpg" alt="">
        <mv-card-text>
          <h3>Título</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-4">
      <mv-card>
        <img src="http://i.imgur.com/MQHYB.jpg" alt="">
        <mv-card-text>
          <h3>Título</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

    <mv-col class="md-4">
      <mv-card>
        <img src="http://i.imgur.com/JGP3JTL.jpg" alt="">
        <mv-card-text>
          <h3>Título</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </mv-card-text>
      </mv-card>
    </mv-col>

  </mv-row>
</mv-grid>
