<ul>
  <li>Seletor: <code>mv-menu</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>
<h2>Menu</h2>


<mv-toolbar>
  <!-- Menu open left to right -->
  <mv-menu-dropdown>
    <mv-menu-button>
      <span>Normal</span>

      <i class="mv-icon mv-icon-ellipsis-v"></i>
    </mv-menu-button>
    <mv-menu-list>
      <mv-menu-item href="#1" icon="user">Usuário</mv-menu-item>
      <mv-menu-divisor></mv-menu-divisor>
      <mv-menu-item href="#2" icon="facebook">Facebook</mv-menu-item>
      <mv-menu-item (click)="onClickButton()">Item 3</mv-menu-item>
    </mv-menu-list>
  </mv-menu-dropdown>
  <!-- /Menu open left to right -->
  <!-- Menu open right to left -->
  <mv-menu class="mv-menu--flip">
    <mv-menu-button>
      <span>Flip</span>
      <i class="mv-icon mv-icon-ellipsis-v"></i>
    </mv-menu-button>
    <mv-menu-list>
      <mv-menu-item href="#1" icon="user">Usuário</mv-menu-item>
      <mv-menu-divisor></mv-menu-divisor>
      <mv-menu-item href="#2" icon="facebook">Facebook</mv-menu-item>
      <mv-menu-item (click)="onClickButton()">Item 3</mv-menu-item>
    </mv-menu-list>
  </mv-menu>
  <!-- Menu open right to left -->
  <!-- Menu Open from center -->
  <mv-menu-dropdown class="mv-menu--center">
    <mv-menu-button>
      Centro
      <i class="mv-icon mv-icon-ellipsis-v"></i>
    </mv-menu-button>
    <mv-menu-list>
      <mv-menu-item href="#1" icon="user">Usuário</mv-menu-item>
      <mv-menu-divisor></mv-menu-divisor>
      <mv-menu-item href="#2" icon="facebook">Facebook</mv-menu-item>
      <mv-menu-item (click)="onClickButton()">Item 3</mv-menu-item>
    </mv-menu-list>
  </mv-menu-dropdown>
  <!-- /Menu Open from center -->
  <!-- Menu open bottom to top -->
  <mv-menu-dropdown class="mv-menu--reverse">
    <mv-menu-button>
      <span>Reverse</span>
      <i class="mv-icon mv-icon-ellipsis-v"></i>
    </mv-menu-button>
    <mv-menu-list>
      <mv-menu-item href="#1" icon="user">Usuário</mv-menu-item>
      <mv-menu-divisor></mv-menu-divisor>
      <mv-menu-item href="#" icon="facebook">Facebook</mv-menu-item>
      <mv-menu-item (click)="onClickButton()">Item 3</mv-menu-item>
    </mv-menu-list>
  </mv-menu-dropdown>
  <!-- /Menu open bottom to top -->
  <!-- Menu open right to left/bottom to top -->
  <mv-menu-dropdown class="mv-menu--flip mv-menu--reverse">
    <mv-menu-button>
      <span>Flip Reverse</span>
      <i class="mv-icon mv-icon-ellipsis-v"></i>
    </mv-menu-button>
    <mv-menu-list>
      <mv-menu-item href="#1" icon="user">Usuário</mv-menu-item>
      <mv-menu-divisor></mv-menu-divisor>
      <mv-menu-item href="#" icon="facebook">Facebook</mv-menu-item>
      <mv-menu-item (click)="onClickButton()">Item 3</mv-menu-item>
    </mv-menu-list>
  </mv-menu-dropdown>
  <!-- Menu open right to left/bottom to top -->
  <!-- Menu open from center/bottom to top -->
  <mv-menu-dropdown class="mv-menu--center mv-menu--reverse">
    <mv-menu-button>
      <span>Center Reverse</span>
      <i class="mv-icon mv-icon-ellipsis-v"></i>
    </mv-menu-button>
    <mv-menu-list>
      <mv-menu-item href="#" icon="user">Usuário</mv-menu-item>
      <mv-menu-divisor></mv-menu-divisor>
      <mv-menu-item href="#" icon="facebook">Facebook</mv-menu-item>
      <mv-menu-item (click)="onClickButton()">Item 3</mv-menu-item>
    </mv-menu-list>
  </mv-menu-dropdown>
  <!-- Menu open from center/bottom to top -->
</mv-toolbar>
