<mv-grid>
  <mv-container>
    <form mv-row class="form-login"  [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <mv-card mv-col class="align-center align-middle">
        <img src="/assets/img/logo_sgd.png" alt="">
        <mv-card-text>

            <!--User-->
            <mv-control-container
              [class.ui-control--error]="form.controls['user'].invalid && form.controls['user'].dirty">
              <label>Usuário</label>
              <input #userInput
                class="ui-control__input" type="text" required
                [formControl]="form.controls['user']"/>
            </mv-control-container>
            <!--/User-->

            <!--Password-->
            <mv-control-container
              [class.ui-control--error]="form.controls['password'].invalid && form.controls['password'].dirty">
              <label>Senha</label>
              <input class="ui-control__input" type="password" required
                [formControl]="form.controls['password']"/>
            </mv-control-container>
            <!--/Password-->

            <div class="form-login__error" *ngIf="submitted && invalidAuthentication">
              Usuário e senha errados
            </div>

        </mv-card-text>
        <mv-card-action class="align-center">
          <button mv-button (click)="onSubmit($event)" *ngIf="form.valid">Entrar</button>
        </mv-card-action>
      </mv-card>
      </form>
  </mv-container>
</mv-grid>

