@import "../../ui/variables";

.form-login {
  min-height: 100vh;
  max-width: 18rem;
  margin:0 auto;
}

.form-login__error {
  padding-top: 1em;
  color: $mv-color__danger;
}

mv-card .ui-control__input {
  background-color: #fff;
}
