<ul>
  <li>Seletor: <code>[mv-button]</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>

<h2>Tipos</h2>
<div class="code">
  <button mv-btn>button</button>
  <button mv-btn disabled>disabled</button>
  <button mv-btn class="mv-btn--raised">Raised</button>
  <button mv-btn class="mv-btn--fab">
    <mv-icon name="user"></mv-icon>
  </button>
</div>

<h2>Ícones</h2>
<div class="code">
  <button mv-btn class="mv-btn--icon">
    <mv-icon name="user"></mv-icon>
  </button>
</div>

<h3>Ícones responsivos</h3>
<div class="code">
  <button mv-btn raised class="mv-btn--icon-xs">
    <mv-icon name="user"></mv-icon>
    <span>xs</span>
  </button>
  <button mv-btn raised class="mv-btn--icon-sm">
    <mv-icon name="user"></mv-icon>
    <span>sm</span>
  </button>
  <button mv-btn raised class="mv-btn--icon-md">
    <mv-icon name="user"></mv-icon>
    <span>md</span>
  </button>
  <button mv-btn raised class="mv-btn--icon-lg">
    <mv-icon name="user"></mv-icon>
    <span>lg</span>
  </button>
</div>

<button mv-btn class="mv-btn--fab mv-btn--positioned mv-btn--on-bottom mv-btn--on-right">
  <mv-icon name="user"></mv-icon>
</button>

<h2>Fab</h2>
<h3>Positioned</h3>
<div class="code demo-area">
  <button mv-btn fab positioned onTop onLeft>
    <mv-icon name="bullhorn"></mv-icon>
  </button>
  <button mv-btn fab positioned onTop onRight>
    <mv-icon name="bullhorn"></mv-icon>
  </button>
  <button mv-btn fab positioned onBottom onLeft>
    <mv-icon name="bullhorn"></mv-icon>
  </button>
  <button mv-btn fab positioned onBottom onRight>
    <mv-icon name="bullhorn"></mv-icon>
  </button>
</div>
