/**
 *  Aside
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @subpackage Aside
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

$mv-aside--width: 20%;

/**
 * @section Mixin
 */

@mixin fixed(){
  width: 100%;
  position: fixed;
  top:0;
  bottom:0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

@mixin left(){
  left:0;
  right: auto;
  transform: translate3d(-100%,0,0);
}

@mixin right(){
  left:auto;
  right:0;
  transform: translate3d(100%,0,0);
}
/**
 * @section Style
 */

:host {
  display: flex;
  flex-direction: column;
  overflow-x: none;
  overflow-y: auto;
  width: $mv-aside--width;
  background-color: $mv-color__gray--50;

  @media screen and (min-width: $mv-device__md){
    max-width: $mv-aside--width;
  }
}

:host(.mv-aside--gap),
:host([gap]) {
  .mv-aside__content {
    padding: 0 ($mv-layout__gutter/2);
  }
}

.mv-aside__content{
  display: flex;
  flex: 1;
  flex-direction: column;
}


.mv-aside__toolbar {
  max-height: $mv-size__height;
}

.mv-aside__button-close {
  visibility: hidden;
}

/** Fixed */
:host(.js-mv-aside--opened) {
  transform: translate3d(0,0,0) !important;
}

:host(.mv-aside--fixed),
:host([fixed]) {
  @include fixed();

  .mv-aside__button-close {
    visibility: visible;
  }

  &.mv-aside--left,
  &[left] {
    @include left();
  }

  &.mv-aside--right,
  &[right] {
    @include right();
  }
}

@media screen
  and (max-width: $mv-device__xs) {
  :host([fixed-xs]) {
    @include fixed();

    &.mv-aside--left,
    &[left] {
      @include left();
    }

    &.mv-aside--right,
    &[right] {
      @include right();
    }

    .mv-aside__button-close {
      visibility: visible;
    }

    &.js-mv-aside--opened .mv-aside__button-close {
      visibility: visible;
    }
  }
}

@media screen
  and (max-width: $mv-device__sm){
  :host([fixed-sm]) {
    @include fixed();

    &.mv-aside--left,
    &[left] {
      @include left();
    }

    &.mv-aside--right,
    &[right] {
      @include right();
    }

    &.js-mv-aside--opened .mv-aside__button-close {
      visibility: visible;
    }
  }
}

@media screen
  and (max-width: $mv-device__md){
  :host([fixed-md]) {
    @include fixed();

    &.mv-aside--left,
    &[left] {
      @include left();
    }

    &.mv-aside--right,
    &[right] {
      @include right();
    }

    &.js-mv-aside--opened .mv-aside__button-close {
      visibility: visible;
    }
  }
}

@media screen and (min-width: $mv-device__lg) {
  :host([fixed-lg]) {
    @include fixed();

    &.mv-aside--left,
    &[left] {
      @include left();
    }

    &.mv-aside--right,
    &[right] {
      @include right();
    }

    &.js-mv-aside--opened .mv-aside__button-close {
      visibility: visible;
    }
  }
}
