<mv-aside #menu title="Menu" fixed-xs fixed-sm left class="mv-shell__menu">
  <ng-content select="mv-shell-menu"></ng-content>
</mv-aside>

<section class="mv-shell__content">
  <ng-content></ng-content>
</section>
