:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mv-orion-grid {
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.mv-orion-logo {
  font-size: 1.5rem;
  font-weight: 300;
}

.mv-orion-container {
  //padding-top: 1em;
  min-width: 100%;
}
