<mv-shell #shell>
  <!--Header-->
  <mv-header>
    <mv-header-menu>
      <button mv-button class="mv-button--icon hidden-md hidden-lg" (click)="shell.onToggleMenu()" accesskey="2" title="Menu">
        <mv-icon name="bars"></mv-icon>
        <span class="hidden-xs hidden-sm">Menu</span>
      </button>
    </mv-header-menu>
    <mv-header-logo>
      <a class="mv-orion-logo" routerLink="/orion">
        <span class="mv-color--light">mv•</span><span class="mv-color--secondary">orion</span>
      </a>
    </mv-header-logo>
    <mv-header-tool class="align-end">
      <button mv-button class="mv-button--icon hidden-md hidden-lg" (click)="shell.onToggleTool()" accesskey="3" title="Perfil">
        <mv-icon name="user"></mv-icon>
        <span class="hidden-xs hidden-sm">Conta</span>
      </button>
    </mv-header-tool>
  </mv-header>
  <!--Header-->
  <router-outlet></router-outlet>
</mv-shell>
<script>
  /**

<!--App-->
<mv-shell #shell>
  <mv-shell-menu>
    <mv-menu-list>
      <mv-menu-header>
        Módulos
      </mv-menu-header>
      <!--<mv-menu-item [routerLink]="['/orion/sgd-module']">SGD</mv-menu-item>-->
      <!--<mv-menu-item [routerLink]="['finance']">Finança</mv-menu-item>-->
      <mv-menu-item>Banner</mv-menu-item>
      <mv-menu-item>Galeria</mv-menu-item>
      <mv-menu-item>Midia</mv-menu-item>
      <mv-menu-item>Publicação</mv-menu-item>
      <mv-menu-header>
        Configuração
      </mv-menu-header>
      <mv-menu-item>Geral</mv-menu-item>
      <mv-menu-item [routerLink]="['/orion/user-module']" routerLinkActive="mv-menu-item--active">Usuário</mv-menu-item>
      <mv-menu-header>
        Ajuda
      </mv-menu-header>
      <mv-menu-item>Documentação</mv-menu-item>
      <mv-menu-item>Suporte</mv-menu-item>
    </mv-menu-list>
  </mv-shell-menu>
  <!--Tool-->
  <mv-shell-tool>
    <mv-menu-list>
      <mv-menu-header>
        Ferramentas
      </mv-menu-header>
      <mv-menu-item icon="user">Perfil</mv-menu-item>
      <mv-menu-item>Mensageiro</mv-menu-item>
      <mv-menu-item>Midia</mv-menu-item>
      <mv-menu-item>Publicação</mv-menu-item>
      <mv-menu-header>
        Configuração
      </mv-menu-header>
      <mv-menu-item>Geral</mv-menu-item>
      <mv-menu-header>
        Ajuda
      </mv-menu-header>
      <mv-menu-item>Documentação</mv-menu-item>
      <mv-menu-item>Suporte</mv-menu-item>
    </mv-menu-list>
  </mv-shell-tool>


  <router-outlet></router-outlet>
</mv-shell>
<!--/App-->
*/</script>
