/**
 *  Page Title
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Page
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

/**
 * @section Style
 */
:host {
  display: block;
}

.mv-page-title__title{
  font-size: 1.2rem;
  color: $mv-color--primary;
}
