/**
 *  Janela Modal
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Modal
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";
/**
 * @section Style
 */
mv-modal {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  // transform: translateX(-100%);
  background-color: transparent;
  z-index: 1000;

  &-body,
  &-footer {
    display: flex;
    flex: 1;
  }
  &-body {
    flex-direction: column;
  }
  &-footer{
    flex-direction: row;
  }

}

.mv-modal {
  position: relative;
  margin: 0 auto;
  padding: $mv-layout__gutter 0;
  width: 95%;
  // min-height: 12rem;
  height: 95vh;
  display: flex;
  flex-direction: column;
  // z-index: -1;
  background: $mv-color__gray--50;
  border-radius: $mv-border-radius-base;
  box-shadow: 0 5px 5px -2px rgba($mv-color__dark, 0.3);

  &__header {
    padding: 0 $mv-layout__gutter;
  }

  &__body {
    padding: $mv-layout__gutter;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $mv-color__light;

    overflow-x: hidden;
    overflow-y: auto;
    //overflow-y: scroll;
    // transition: all 300ms ease;
    // transform: translateX(-100%);
  }


  &__footer {
    padding: $mv-layout__gutter $mv-layout__gutter 0;

    [mv-btn] {
      display: inline-flex;
    }
  }

  &__title {
    margin: 0 0 1rem;
    font-size: $font-size-h3;
  }

  &__backdrop {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(#000, .3);
    // transition: opacity 300ms ease;
  }

  @media screen and (min-width: $mv-device__md) {
    max-height: 100vh;
  }

  @media screen and (max-height: 30rem) {
    max-height: 100vh;

    &__body {
      overflow-y: auto;
    }
  }
}

mv-modal.mv-modal--flat,
mv-modal[flat] {
  .mv-modal__body{
    padding: 0;
  }
}
mv-modal.mv-modal--relative,
mv-modal[relative] {
  position: absolute;
}

@media screen and (max-height: 30rem) {
  mv-modal.mv-modal--small,
  mv-modal[small] {
   .mv-modal{
     max-height: 100vh;
   }
  }
}

@media screen and (min-width: $mv-device__md) {
  mv-modal.mv-modal--small,
  mv-modal[small] {
    .mv-modal{
      width: 50%;
    }
  }
}
