<section class="mv-modal" role="dialog" [@modalBoxAnimation]="state">
  <header class="mv-modal__header">
    <mv-row>
      <mv-col>
        <h1 class="mv-modal__title">{{title}}</h1>
      </mv-col>
      <mv-col class="mv-layout--shrink">
        <button mv-btn class="mv-btn--icon mv-button--close"
                (click)="close()">
          <mv-icon name="close"></mv-icon>
        </button>
      </mv-col>
    </mv-row>
  </header>
  <div class="mv-modal__body">
    <ng-content select="mv-modal-body"></ng-content>
  </div>
  <footer class="mv-modal__footer">
    <ng-content select="mv-modal-footer"></ng-content>
  </footer>
</section>
<div class="mv-modal__backdrop" (click)="onBackdropClick()" [@modalBackdropAnimation]="state"></div>
