/**
 *  Pagination Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Pagination
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../variables";

/**
 * @section Style
 */
:host {
  display: block;
  margin: 0 ($mv-layout__gutter/2);
}

.mv-pagination-control__container{
  flex: 1;
}
