<mv-row class="mv-pagination-control__container align-middle">
  <mv-col>
    <!--First-->
    <button mv-btn class="mv-pagination-control__button mv-btn--icon" [disabled]="!showFirst()" (click)="goToFirst($event)">
      <mv-icon name="arrow-left"></mv-icon>
    </button>

    <button mv-btn class="mv-pagination-control__button mv-btn--icon" [disabled]="!showPrevious()" (click)="goToPrevious($event)">
      <mv-icon name="chevron-left"></mv-icon>
    </button>

    <button mv-btn title="Paginar" (click)="modal.open($event)">
      <span>{{pagination?.current}}</span> :
      <span>{{pagination?.pages}}</span> -
      <span>{{pagination?.limit}}</span>
    </button>

    <button mv-btn class="mv-pagination-control__button mv-btn--icon" (click)="goToNext($event)" [disabled]="!showNext()">
      <mv-icon name="chevron-right"></mv-icon>
    </button>

    <button mv-btn class="mv-pagination-control__button mv-btn--icon" [disabled]="!showLast()" (click)="goToLast($event)">
      <mv-icon name="arrow-right"></mv-icon>
    </button>

  </mv-col>

</mv-row>

<mv-modal #modal title="Paginação" class="mv-modal--small">
  <mv-modal-body>
    <form [formGroup]="formPagination" novalidate>
      <mv-control-container>
        <label>Total de registros</label>
        <strong>{{pagination?.total}}</strong>
      </mv-control-container>


      <mv-icon name="file"></mv-icon>
      <span>{{pagination?.current}}</span>
      <mv-menu-dropdown>
        <mv-menu-button>
           Ir para página
        </mv-menu-button>
        <mv-menu-list>
          <mv-menu-item *ngFor="let page of getPageList()" (click)="goToPage(page)">
            {{page}}
          </mv-menu-item>
        </mv-menu-list>
      </mv-menu-dropdown>

      <br>

      <mv-icon name="filter"></mv-icon>
      <span>{{pagination?.limit}}</span>
      <mv-menu-dropdown>
        <mv-menu-button>
          Resultados por página
        </mv-menu-button>
        <mv-menu-list>
          <mv-menu-item *ngFor="let lim of getLimitList()" (click)="onChangeLimit(lim)">
            {{lim}}
          </mv-menu-item>
        </mv-menu-list>
      </mv-menu-dropdown>

      <!--<mv-control-container>
        <label>Ir para</label>
        <select id="PaginationControlPageSelect" [formControl]="formPagination.controls['page']" (change)="goToPage($event)">
          <option *ngFor="let page of getPageList()"
            [value]="page"
            [selected]="(page===current)">
            {{page}}
          </option>
        </select>
      </mv-control-container>

      <mv-control-container>
        <label>Resultados por página</label>
        <select id="PaginationControlLimitSelect" [formControl]="formPagination.controls['limit']" (change)="onChangeLimit($event)">
          <option *ngFor="let lim of getLimitList()"
            [value]="lim"
            [selected]="(lim===limit)">
            {{lim}}
          </option>
        </select>
      </mv-control-container>-->
    </form>
  </mv-modal-body>
  <mv-modal-footer class="align-end">
    <button mv-btn (click)="modal.close($event)">Fechar</button>
  </mv-modal-footer>
</mv-modal>
