<ul>
  <li>Seletor: <code>mv-avatar</code></li>
  <li>Device <code><mv-device></mv-device></code></li>
</ul>
<h2>Avatar</h2>

<mv-avatar src="/assets/img/avatar/marcusvinicius.jpg"></mv-avatar>
<mv-avatar class="mv-avatar--small" src="/assets/img/avatar/marcusvinicius.jpg"></mv-avatar>
<mv-avatar class="mv-avatar--medium"src="/assets/img/avatar/marcusvinicius.jpg"></mv-avatar>
<mv-avatar class="mv-avatar--tall"src="/assets/img/avatar/marcusvinicius.jpg"></mv-avatar>
